<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <h1>Nutrition Tracker 🥗</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/add/">Add Meal</a> |
            <a href="/new_item/">Add Food</a> |
            <a href="/bmr_weight/">BMR & Weight</a> |
            <a href="/history/">History</a> |
            <a href="/admin/">Admin</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
